<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>428760693838-4b03c635shjftvagiv7ouvp1n9eo0l8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaJWYJgRw4dDILLYZthPChiYZP542ekmE</string>
	<key>GCM_SENDER_ID</key>
	<string>428760693838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuzutech.gorakuplus</string>
	<key>PROJECT_ID</key>
	<string>goraku-7f06b</string>
	<key>STORAGE_BUCKET</key>
	<string>goraku-7f06b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428760693838:ios:bf525e93cb16ff61bcd71f</string>
</dict>
</plist>